.color_fondo {
    background-color: #001522;
    background-image: linear-gradient(180deg, #001522 0%, #ffffff 100%);
}

.avatar_redondo {
    border-radius: 50%;
}

.margen_caratula {
    margin-top: 150px;
}

.fondo_navbar {
    background-color: #001522;
}

.margen_pornav {
    margin-top: 56px;
}

.color_texto {
    color: #0a4164;
}

.altura_tarjetas {
    height: 116px;
}

.posicion_status {
    position: absolute;
    bottom: -12px;
}

.fondo_card {
    background-color: #1e213d;
}